<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:post-title /-->
		<!-- wp:post-date /-->
		<hr>
		<!-- wp:post-content /-->
		<hr>
		<!-- wp:comments -->
		<div class="wp-block-comments">
			<!-- wp:comments-title /-->
			<!-- wp:comment-template -->
				<!-- wp:avatar {"size":40} /-->
				<!-- wp:comment-author-name /-->
				<!-- wp:comment-date /-->
				<!-- wp:comment-content /-->
				<!-- wp:comment-reply-link /-->
			<!-- /wp:comment-template -->
			<!-- wp:comments-pagination -->
				<!-- wp:comments-pagination-previous /-->
				<!-- wp:comments-pagination-numbers /-->
				<!-- wp:comments-pagination-next /-->
			<!-- /wp:comments-pagination -->
			<!-- wp:post-comments-form /-->
		</div>
		<!-- /wp:comments -->
	</div>
	<!-- /wp-group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
